body{
	background-color: silver;
}
.bouton{
	cursor: pointer;
	transition-duration: 0.4s;
	padding: 8px 32px;
	background-color: silver;
    color: black;
    border: 2px solid #f44336;
    border-radius: 7px;
}
.bouton:hover {
    background-color: #f44336;
    color: white;
}
#Jack{
	margin-top: 25px;
	border-radius: 30px;
}
h2{
	margin-top: 55px;
}